/* Background of the main page */
body {
  font-family: Gill Sans, sans-serif;
  background-image: url("../img/field.jpg");
  background-position: center;
  background-size: cover; 
  text-align: center;
}

/* Properties of the button for each link */
a {
  background-color: #0b5351;
  color: white;
  padding: 8px;
  text-align: center;
  display: inline-block;
}