body {
  font-family: Courier New;
  /*background-color: rgb(163, 200, 255);*/
  background-image: url("../img/bamboo_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

p {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 8px;
}
